html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
li,
a,
p {
  text-decoration: none;
  font-size: 1.1rem;
  color: #444;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
section {
  padding: 1.5% 5%;
  margin-top: 5%;
}

/*----Header secton--*/
.header {
  position: sticky;
  height: 15vh;
  top: 0;
  z-index: 10;
  background-color: #fff;
  margin-top: 0;
}
.brand-logo {
  width: 250px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  color: #111;
}
nav ul li a:hover {
  color: #111;
}
nav ul li a::after {
  content: " ";
  width: 0;
  height: 2px;
  background: #ed0000;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.dropbtn {
  border: 0;
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 2;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-items {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
.menu-icon {
  display: none;
}

/*Hero Section*/
.hero {
  position: relative;
  margin-top: 0;
}
.hero-slide {
  height: 80vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(rgba(246, 176, 26, 0.5), rgba(227, 8, 8, 0.5));
}
.hero-slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  animation: slide 25s infinite;
  opacity: 0;
}
.hero-slide > div:nth-child(1) {
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.5),
      rgba(227, 8, 8, 0.5)
    ),
    url(images/peanut-img1.jpg);
}
.hero-slide > div:nth-child(2) {
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.5),
      rgba(227, 8, 8, 0.5)
    ),
    url(images/peanut-img3.jpg);
  animation-delay: 5s;
}
.hero-slide > div:nth-child(3) {
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.5),
      rgba(227, 8, 8, 0.5)
    ),
    url(images/cookies-img3.jpg);
  animation-delay: 10s;
}
.hero-slide > div:nth-child(4) {
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.5),
      rgba(227, 8, 8, 0.5)
    ),
    url(images/peanut-img5.jpg);
  animation-delay: 15s;
}
.hero-slide > div:nth-child(5) {
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.5),
      rgba(227, 8, 8, 0.5)
    ),
    url(images/royal-snacks1.jpg);
  animation-delay: 20s;
}
.hero-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  padding-inline: 10%;
  text-align: center;
  color: #fff;
}
.hero-content h1 {
  padding-bottom: 1.2%;
  padding-inline: 3%;
  text-shadow: 8px 5px 5px #201f1f;
  font-weight: 700;
}
.hero-content h4 {
  padding-bottom: 1.2%;
  padding-inline: 25%;
  text-shadow: 2px 2px 2px #333;
  font-weight: 600;
}
.btn {
  border: none;
  border-radius: 3.5px;
  padding: 10px;
  background-color: #ed0000;
  color: #fff;
  transition: 0.7s;
}
.btn a {
  color: inherit;
}
.btn:hover {
  border: 1px solid #ed0000;
  background-color: #fff;
  color: #ed0000;
}
#about {
  margin-top: 0;
}
.about div,
.brands div {
  margin-top: 20px;
}
.history p {
  color: #548235;
  padding: 15px 20px;
}
.about-img img {
  max-width: 90%;
}
.goals {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.goals div {
  margin-inline: 0px;
  padding: 10px 40px;
  width: 30%;
  background-color: #e32828;
  border-radius: 5px;
  transition: 0.5s ease;
}
.goals div:hover {
  box-shadow: 5px 5px 8px #999;
  transform: translateY(-8px);
  background-color: #cc1616;
}
.goals h2,
.goals p {
  color: #fff;
}
.title {
  color: #ed0000;
  text-align: center;
}
.about-content {
  padding-inline: 3%;
}
.nutrition-table,
.peanut-img2,
.cookies-img2 {
  margin-top: 50px;
}
.peanut h1 {
  margin-top: 0;
  color: #ad8436;
  margin-bottom: 25px;
}
.cookies h1 {
  margin-top: 0;
  color: #c63e42;
  margin-bottom: 25px;
}
.peanut-img1,
.cookies-img1 {
  max-width: 90%;
}
.peanut-img2,
.cookies-img2 {
  width: 550px;
  max-height: 500px;
}
.nutrition-table {
  width: 80%;
  border-collapse: collapse;
}
.nutrition-table th,
.nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.peanut .nutrition-table th {
  background-color: #cb9b42;
}
.cookies .nutrition-table th {
  background-color: #c63e42;
}

.nutrition-table td:nth-child(odd) {
  width: 50%;
}
.ingredients {
  text-align: center;
  margin-top: 50px;
}
.peanut .ingredients h2 {
  color: #ad8436;
}
.cookies .ingredients h2 {
  color: #c63e42;
}
@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.slideshow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.slides {
  flex-basis: 55%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slide {
  transition: 0.4s ease;
}
.slide1 {
  background-image: url(images/peanut-img4.jpg);
  background-size: cover;
  background-position: 50% 80%;
  height: 100%;
  width: 100%;
  position: absolute;
}
.slide2 {
  background-image: url(images/peanut-img2.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
}
.slide3 {
  background-image: url(images/cookies-img4.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
}
.slide4 {
  background-image: linear-gradient(
      rgba(238, 113, 17, 0.3),
      rgba(247, 202, 41, 0.3)
    ),
    url(images/cookies-img1.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide-captions {
  flex-basis: 40%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slide-caption {
  padding: 10%;
  transition: 0.4s ease;
}
.slide-caption1 {
  height: 100%;
  width: 100%;
  background-color: #bad1ec;
  position: absolute;
}
.slide-caption2 {
  height: 100%;
  width: 100%;
  background-color: #a5f0f7;
  position: absolute;
}
.slide-caption3 {
  height: 100%;
  width: 100%;
  background-color: #f19ea2;
  position: absolute;
}
.slide-caption4 {
  height: 100%;
  width: 100%;
  background-color: #e4bd80;
  position: absolute;
}
.slide.inactive {
  transform: translateX(-100%);
}
.slide.active {
  transform: translateX(0);
}
.slide-caption.inactive {
  transform: translateY(100%);
}
.slide-caption.active {
  transform: translateY(0);
}
.slide-btn i {
  position: absolute;
  z-index: 4;
  display: flex;
  color: #ccc;
  background-color: rgba(163, 160, 160, 0.3);
  border-radius: 50%;
  padding: 8px;
  font-size: 25px;
  transition: 0.5s;
}
.slide-btn i:hover {
  color: #fff;
  background-color: #5f5858;
}
.fa-arrow-left {
  top: 16rem;
  left: 2rem;
}
.fa-arrow-right {
  top: 16rem;
  right: 2rem;
}
.slide-captions .btn {
  background-color: rgba(77, 73, 73, 0.5);
}
.pwu {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.pwu h1 {
  color: #ed0000;
}
.fa-truck {
  font-size: 50px;
  padding: 30px;
  background-color: #d8d3d3;
  height: 100px;
  width: 120px;
  border-radius: 100px;
}
.pwu .btn {
  padding-inline: 50px;
}
.cta {
  padding: 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(246, 176, 26, 0.3),
      rgba(227, 8, 8, 0.3)
    ),
    url(images/royal-snacks2.jpg);
  height: 400px;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cta h1,
.cta h2 {
  color: #fff;
  text-shadow: 2px 2px 3px #444;
}
.cta h2 {
  font-style: italic;
}
.socials {
  text-align: center;
}
.socials h1 {
  color: #ed0000;
}
.socials-icons {
  margin-top: 40px;
}
.socials .fa-brands {
  font-size: 70px;
  padding: 20px;
  transition: 0.5s;
}
.socials .fa-brands:hover {
  transform: translateY(-5px);
  filter: drop-shadow(5px 7px 5px #777);
}
.fa-square-facebook {
  color: rgb(10, 60, 118);
}
.fa-square-instagram {
  color: #aa2652;
}
.fa-linkedin {
  color: #266ad1;
}
.partner .row {
  padding-inline: 4rem;
}
.partner p {
  color: #548235;
  font-size: 1.5rem;
  padding-inline: 2rem;
}
.careers h1 {
  font-size: 4rem;
}
.careers p {
  color: #548235;
}
.careers {
  padding-inline: 10rem;
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ccc;
}
.footer .brand-logo {
  margin-bottom: 20px;
}
.footer a:hover {
  color: #ed0000;
  transition: 0.5s;
}
.copyright {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1257px) {
  .slide-caption {
    padding: 10%;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 0;
  }
  .navbar {
    padding: 1.5% 5%;
  }
  .brand-logo {
    width: 180px;
  }
  .menu-items {
    background-color: #fff;
    width: 100%;
    position: absolute;
    margin-top: 3%;
    top: 80%;
    right: 0;
    display: none;
  }
  .menu-items li {
    padding-bottom: 20px;
    margin-left: 10%;
  }
  .menu-icon {
    display: inline;
    padding-top: 10px;
    font-size: 25px;
    color: #333;
  }
  nav ul li a::after {
    position: absolute;
    left: 0;
  }
  .goals div {
    padding: 15px 10px;
  }
  .peanut-img2,
  .cookies-img2 {
    max-width: 100%;
    max-height: 80%;
  }
  .nutrition-table {
    width: 100%;
  }
  .partner .row {
    padding-inline: 2rem;
  }
  .partner p {
    font-size: 1.3rem;
    padding-inline: 0;
  }
  .careers {
    padding-inline: 0rem;
  }
  .careers-content {
    padding-inline: 2rem;
  }
}
@media (max-width: 991px) {
  .about-img {
    order: 2;
  }
  .about-img img {
    max-width: 100%;
  }
  .goals {
    gap: 20px;
  }
  .goals div {
    width: 100%;
    padding: 15px 10px;
  }
  .peanut-img1,
  .cookies-img1 {
    max-width: 100%;
  }
  .peanut .content,
  .cookies .content {
    padding-top: 15px;
  }
  .peanut-img2,
  .cookies-img2 {
    max-width: 100%;
    max-height: 100%;
  }
  .nutrition-table {
    width: 100%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  .hero-content h1 {
    padding-bottom: 1.4%;
    padding-inline: 2%;
    text-shadow: 8px 5px 5px #201f1f;
    font-weight: 600;
  }
  .hero-content h4 {
    padding-bottom: 1.4%;
    padding-inline: 15%;
    text-shadow: 3px 3px 2px #000;
    font-weight: 500;
  }
  .slides,
  .slide-captions {
    flex: 0 0 100%;
  }
  .slides {
    height: 320px;
  }
  .slide-captions {
    height: 250px;
    transform: translateY(-38px);
  }
  .slide-caption {
    padding: 5%;
  }
  .slide-captions h3 {
    font-size: 1rem;
  }
  .slide-captions p {
    font-size: 0.9rem;
  }
  .slide-captions .btn {
    scale: 0.7;
  }
  .fa-arrow-left,
  .fa-arrow-right {
    top: 10rem;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1rem;
  }
  .slide-captions p {
    font-size: 0.7rem;
  }
  .partner .row {
    padding-inline: 1rem;
  }
  .partner p {
    font-size: 1.1rem;
    padding-inline: 0;
  }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
